body .bl-navbar{
  background-color:  white;
}
body .bl-navbar {
  margin: 0;
  border: 0;
  border-radius: 0px;
}
body .bl-navbar .navbar-brand, body .bl-navbar .navbar-nav>li>a {
  color: #031c4e;
}
.navbar-brand img {
  height: 22px;
  width: auto;
}
.navbar-center {
  margin-left: 100px;
}
#SignIn{
  border-radius: 5px 5px;
  border: 1px solid #076fff;
  background-color: white;
  color: #076fff;
}
.copertina {
background-color: #004aff;
padding: 25px 0;
}
.titolo {
  font-size: 45px;
  color: white;
}
.text {
  font-size: 15px;
  color: white;
}
form {
  background-color: white;
  padding: 20px;
  text-align: center;
}
.titolo-form {
color: #031c4e;
font-size: 20px;
font-weight: bold;
}
.text-form {
color: #076fff;
font-size: 20px;
font-weight: bold;
}
input {
  width: 350px;
  border: 1px solid lightgrey;
}
#createAccount, #signUpGoogle {
  width: 350px;
  border-radius: 5px 5px;
  margin-bottom: 5px;
  border: none;
}
#createAccount{
  background-color: #579aff;
}
#signUpGoogle{
  background-color: white;
  color: black;
  box-shadow: 1px 1px 3px;
}
.text2-form{
  margin-top: 10px;
  font-size: 12px;
}
